h1 {float: left;
}

p {writing-mode: vertical-rl;
text-orientation: mixed;
writing-mode: vertical-rl;
font-style:italic;

font-size:15px;

text-align:left;

letter-spacing:60px;
text-transform:capitalize;
 
margin: 100px;
}


h2{padding-top: 100px;
text-transform: lowercase;}