<!DOCTYPE HTML>
<html> 

<h1>This is a heading</h1>
<h2> This is a heading</h2>
<p>This is a paragraph.</p> 

div{color: green
bold:30px;}

li{color: purple;
margin-left: 30px}

h1 {
  color: navy;
  margin-left: 20px;
}
h2 {color: red;
margin-left: 40px}

body {background: yellow;}
</html>